<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<!-- Describe task in general -->
<!-- <script>
    function openPage(pageName, elmnt) {
      // Hide all elements with class="tabcontent" by default */
      const tabcontent = document.getElementsByClassName("tabcontent");
      for (let i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
      // Show the specific tab content
      document.getElementById(pageName).style.display = "block";
    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

<p style="text-align: justify;">
    You may have seen the following meme text on Internet (click the respective button if you want to read its "normal" version):
</p> -->

<!-- <button class="tablink" onclick="openPage('Jumbled', this)" id="defaultOpen">Jumbled</button>
<button class="tablink" onclick="openPage('Normal', this)">Normal</button>

<div id="Jumbled" class="tabcontent">
    <span translate="no"><p style="text-align: justify;"><b>
        Aoccdrnig to a rsceearh at Cmabrigde Uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoetnt tihng is taht the frist and lsat ltteer be at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit porbelm. Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe.
    </b></p></span>
</div>

<div id="Normal" class="tabcontent" style="display:none;">
    <span translate="no"><p style="text-align: justify;"><b>
        According to a research at Cambridge University, it doesn't matter in what order the letters in a word are, the only important thing is that the first and last letter be at the right place. The rest can be a total mess and you can still read it without problem. This is because the human mind does not read every letter by itself but the word as a whole.
    </b></p></span>
</div> -->

<p style="text-align: justify;">
    Vous avez peut-être vu le texte du mème suivant sur Internet (cliquez sur le texte si vous voulez le lire dans sa version "normale"):
</p>

<details>
    <summary>
        <span translate="no"><p style="text-align: justify;"><b>
            Aoccdrnig to a rsceearh at Cmabrigde Uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoetnt tihng is taht the frist and lsat ltteer be at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit porbelm. Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe.
        </b></p></span>
    </summary>
    <span translate="no"><p style="text-align: justify;"><b>
        According to a research at Cambridge University, it doesn't matter in what order the letters in a word are, the only important thing is that the first and last letter be at the right place. The rest can be a total mess and you can still read it without problem. This is because the human mind does not read every letter by itself but the word as a whole.
    </b></p></span>
</details>

<p style="text-align: justify;">
    Eh bien, il y a des <u>éléments de</u> vérité dans ce texte. Voici un document très intéressant ( <a target="_blank" href="https://www.mrc-cbu.cam.ac.uk/people/matt.davis/cmabridge/">article</a> ) émanant d'un véritable chercheur de l'université de Cambridge, qui décompose le mème et explique le phénomène.
</p>

<p style="text-align: justify;">
    Essayons d'évaluer le niveau de confusion. Dans cette mission, on vous donne deux mots - une version normale et une version mélangée. Si la version mélangée n'est pas une version normale ou si la règle n'est pas respectée, vous devez renvoyer <code>-1</code>. Pour les mots qui se ressemblent totalement, renvoyez <code>0</code>, bien sûr. Sinon, excluez le premier et le dernier caractères (ils ne sont pas mélangés selon la règle) et renvoyez une distance moyenne (arrondie à 2 chiffres) entre la position normale d'un caractère et sa position mélangée.
</p>

<p style="text-align: justify;">
    S'il y a deux ou plusieurs lettres identiques dans un mot, considérez que la première apparition d'un caractère dans une version normale est équivalente à la première apparition de ce caractère dans une version mélangée, etc. 
</p>

<p style="text-align: justify;">
    Regardez l'exemple.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}jumbled-letters.svg" alt="example" style="max-height: 300px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Deux chaînes de caractères <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Sortie:</strong> Nombre flottant <span>({% if is_js %}number{% else %}float{% endif %})</span>. 
</p>


<p>
    <strong>Exemples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
